node_modules/
*.db
*.db-shm
*.db-wal
*.log
.env
uploads/
backups/
dist/
electron-app/dist/
electron-app/node_modules/
electron-app/native/build/
electron-app/telemetry-addon.node
app/node_modules/
app/data.db
*.exe
*.blockmap
*.yml
*.asar
*.pak
*.dll
*.bin
*.dat
*.iobj
*.ipdb
*.lib
*.exp
